#head{
    width: 1500px;
}
#chart{
    position: absolute;
    right:30px;
    width:1200px;
    height:650px
}
#menu{
    position:absolute;
    display: inline-block;
}
#chartEdit{
    position: absolute;
}

