* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../cover.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    zoom: 1;
}

a {
    text-decoration: none
}

.Page {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.logo {
    margin-top: 25px;
    left: 0;
    display: inline-block;
    float: left;
    height: 40px;
    top: 20px;
    width: 40px
}

.home {
    margin: 50px 0 0 100px;
    display: inline-block;
    float: left;
}

.return {
    margin: auto 100px 50px auto;
    display: inline-block;
    float: right;
}

.headerBackground {
    height: 90px;
    width: 100%;
    background: rgb(34, 47, 75);
}

.header {
    height: 80px;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.title {
    padding: 23px 60px 0 380px;
    color: #fff;
}

.centerArea {
    width: 960px;
    margin: 30px auto;
    padding: 40px 0 50px;
}

.centerBox {
    border-bottom: 2px solid #ccc;
    border-radius: 24px;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    background: rgba(255, 247, 193, 0.8);
}

.boxItem {
    padding: 50px 50px 90px 50px;
    min-height: 200px;
    font-size: 14px;
    line-height: 1.8
}

.red {
    color: red;
}

.registerTable td {
    padding-bottom: 15px;
}

.loginTable td {
    padding-bottom: 50px;
}

.lineOne {
    padding-top: 24px;
}

.bothTable {
    line-height: 38px;
    font-size: 16px;
    color: #0c5b95;
    font-weight: 500
}

.myText {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.myTextInput {
    height: 22px;
    padding: 7px;
    line-height: 22px;
    width: 275px;
    color: #7b7b7b;
    outline: none;
    border: 1px solid #ccc;
    background: #f3f3f3;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.myText:hover .myTextInput {
    border-color: #54ade7;
    background: #e2f4ff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.authentic {
    width: 100px;
}

.myButton1 {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 0;
    margin: 0 1px 0 300px;
    background: #3db9ec;
    float: left
}

.myButton1 span {
    float: left;
    display: inline;
    margin: 0 -1px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 21px;
    border: 0;
    overflow: visible;
    background: #3db9ec;
    color: #fff;
    cursor: pointer;
    font-family: Microsoft Yahei, simsun, sans-serif;
}

.myButton1:hover, .myButton1:hover span {
    background: #2085e5;
}

.myButton2 {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 0;
    margin: 0 1px 0 20px;
    background: #3db9ec;
}

.myButton2 span {
    float: left;
    display: inline;
    margin: 0 -1px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 12px;
    border: 0;
    overflow: visible;
    background: #3db9ec;
    color: #fff;
    cursor: pointer;
    font-family: Microsoft Yahei, simsun, sans-serif;
}

.myButton2:hover, .myButton2:hover span {
    background: #2085e5;
}

.myButton3 {
    margin: 0 1px 0 100px
}

.loginDirectly {
    float: left;
    margin: 10px 0 0 80px;
}